<div class="panel panel-primary">
    <div class="panel-heading">
       {{ idea.title }}
            {% if idea.score is none %}
                <div class="label label-success" style="vertical-align: top;font-size: 10px">New</div>
            {% endif %}
    </div>
    <div class="panel-body">
        {{ idea.description }}
    </div>
    <div class="panel-footer">
        <div class="label label-default" style="margin-right: 5px">
            {{ idea.category }}
        </div>
        {% if idea.tags %}
            {% for tag in idea.tags.split(",") %}
                <div class="badge">
                    <span class="glyphicon glyphicon-tag"></span>
                    {{ tag }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>