{% for idea in ideas %}
  <div class="list-group">
    <a class="list-group-item" style='overflow: hidden' href="{{ url_for('show_idea', idea_title=idea.title) }}">
      <span class="col-xs-8" style='overflow: hidden'>
        {{ idea.title }}
      </span>
      <div class="col-xs-3" style='text-align:right'>
        {{ moment(idea.modified).format('L') }}
      </div
      <span class="badge col-xs-1">
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
      </span>
    </a>
    <div class="panel-footer">
      <div class="label label-default" style="margin-right: 5px">
        {{ idea.category }}
      </div>
      {% if idea.tags %}
        {% for tag in idea.tags.split(",") %}
          <div class="badge">
            <span class="glyphicon glyphicon-tag"></span>
            {{ tag }}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endfor %}
