{% extends "admin/base.html" %}

{% block app_content %}
  <script>
      function deleteIdeaConfirmation() {
          return (confirm('Are you sure you want to delete this idea?'));
      }
  </script>
  <table class='table table-hover' style='table-layout: fixed'>
    <thead>
      <tr>
        <th class="col-xs-1" style='overflow: hidden'>#</th>
        <th class="col-xs-4" style='overflow: hidden'>Title</th>
        <th class="col-xs-2" style='overflow: hidden'>User</th>
        <th class="col-xs-2" style='overflow: hidden'>Created</th>
        <th class="col-xs-1" style='overflow: hidden'>Score</th>
        <th class="col-xs-1" style='overflow: hidden'>Votes</th>
        <th class="col-xs-1" style='overflow: hidden'>Delete</th>
      </tr>
    </thead>
    {% for i in range(ideas|count) %}
      <tr>
        <td style='overflow: hidden'>{{ i + 1 }}</td>
        <td style='overflow: hidden'>
          <a href="{{ url_for('show_idea', idea_title=ideas[i].title) }}" title="Go to Idea">
            {{ ideas[i].title }}
          </a>
        </td>
        <td style='overflow: hidden'>
          {{ ideas[i].author.username }}
        </td>
        <td style='overflow: hidden'>
          {{ moment(ideas[i].created).format('L') }}
        </td>
        <td style='overflow: hidden'>
          <span class="glyphicon glyphicon-fire"> </span> {{ ideas[i].score }}
        </td>
        <td style='overflow: hidden'>
          <span>
              <a title='Edit Votes' class="btn btn-warning" href="{{ url_for('admin_votes', idea_id=ideas[i].id) }}"><span
                      class="glyphicon glyphicon-edit"></span></a>
          </span>
        </td>
        <td style='overflow: hidden'>
          <form title='Delete Idea' class="btn" action="{{ url_for('delete_idea', idea_id=ideas[i].id) }}" onsubmit='return deleteIdeaConfirmation()'>
            <button type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
