<footer class="footer container-fluid">
    <div class="container">
        <hr>
        <br>
        <ul class="navbar nav-justified">
            <li class="nav navbar-text">
                <div class="nav text-center">
                    <span class="glyphicon glyphicon-copyright-mark"></span>
                    2019
                    <a href="https://github.com/boceckts">Tobias Boceck</a>,
                    <a href="https://github.com/njlester">Noah Lester</a>
                </div>
            </li>
            <li class="nav navbar-text">
                <div class="text-center">
                    Fork me on
                    <a href="https://github.com/boceckts/ideahub">GitHub</a>
                </div>
            </li>
            <li class="nav navbar-text">
                <div class="text-center">
                    <a href="/api/v1/docs">Developer REST API</a>
                </div>
            </li>
            <li class="nav navbar-text">
                <div class="text-center">
                    <a href="https://github.com/boceckts/ideahub/blob/master/LICENSE.txt">License</a>
                </div>
            </li>
        </ul>
    </div>
</footer>
