{% extends "app/base.html" %}

{% block metas %}
    <meta http-equiv="refresh" content="30"/>
{% endblock %}

{% block app_content %}
    {% if events is none or events|length == 0 %}
        <div class="jumbotron">
            <div class="h2">You don't have any Events yet!</div>
            <br>
            <p>Do you want to go to the Home page instead?</p>
            <a class="btn btn-primary" href="{{ url_for('index') }}">Home</a>
        </div>
    {% else %}
        <div class="h1">Activity Feed</div>
        {% for event in events %}
            {% if event.type == type.upvotes %}
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="glyphicon glyphicon-heart"></span> {{ event.created }}
                    </div>
                    <div class="panel-body">{{ event.data }} people liked your idea {{ event.idea_name }}</div>
                </div>
            {% elif event.type == type.votes %}
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="glyphicon glyphicon-stats"></span> {{ event.created }}
                    </div>
                    <div class="panel-body">{{ event.data }} people voted on your
                        idea {{ event.idea_name }}</div>
                </div>
            {% elif event.type == type.idea_changed %}
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="glyphicon glyphicon-edit"></span> {{ event.created }}
                    </div>
                    <div class="panel-body">The idea {{ event.idea_name }} that you voted on has been changed</div>
                </div>
            {% elif event.type == type.idea_deleted %}
                <div class="panel panel-primary">
                    <div class="panel-heading"><span class="glyphicon glyphicon-trash"></span> {{ event.created }}
                    </div>
                    <div class="panel-body">The idea {{ event.idea_name }} that you voted on has been deleted</div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}