{% extends "base.html" %}

{% block content %}
    <h1>
        {{ current_user.username }}'s Ideas
    </h1>
    {% for idea in ideas %}
        <div>
            <p>
                <b>Title: </b>{{ idea.title }}
                <br>
                <b>Description: </b>{{ idea.description }}
                <br>
                <b>Categories: </b>{{ idea.categories }}
                <br>
                <b>Created: </b>{{ idea.created }}
                <br>
                <b>Last Modified: </b>{{ idea.modified }}
                <br>
                <form action="/editIdea/{{ idea.id }}">
                    <input type="submit" value="Edit" />
                </form>
                <br>
            </p>
        </div>
    {% endfor %}

{% endblock %}
