{% extends "app/base.html" %}

{% block app_content %}

    <div class="h1">Welcome to IdeaHub</div>
    <div class="h3">Make your ideas seen and loved.</div>
    <br>
    <div class="container">
        <div class="h4">The best place to...</div>
        <div class="h4"><span class="glyphicon glyphicon-user"></span> Create and manage your ideas</div>
        <div class="h4"><span class="glyphicon glyphicon-globe"></span> See what others are thinking of your ideas
        </div>
        <div class="h4"><span class="glyphicon glyphicon-lamp"></span> Get inspired by other's ideas</div>
        <div class="h4"><span class="glyphicon glyphicon-heart"></span> Vote for your favourite ideas</div>
        <div class="h4"><span class="glyphicon glyphicon-fire"></span> Find out the newest, hottest and trendiest
            ideas
        </div>
        <div class="h4"><span class="glyphicon glyphicon-stats"></span> See how you and your ideas compare to others
        </div>
    </div>
    <div class="h4">
        Do you want to join?
        <a class="link" href="{{ url_for('register') }}">Click to Sign Up!</a>
        Already a member?
        <a class="link" href="{{ url_for('login') }}">Click to Login!</a>
    </div>

{% endblock %}
