{% extends "app/base.html" %}

{% block app_content %}
    <script>
        function setVoteValue(value) {
            document.getElementById("vote_value").value = value;
            document.forms["vote_form"].submit();
        }
    </script>
    {% if idea is not none %}

        <div class="h1">Inspire Me</div>
        <br>
        <div class=container-fluid">
            <p>
                Here is an idea that we found based on your interests which you specified in your profile. If you
                do not want to vote on this idea use the shuffle button to get a new inspiring idea instead.
                <a href="{{ url_for('inspire') }}" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-random"></span>
                </a>
            </p>
        </div>
        {%  include 'idea/idea.html' %}

    {% else %}
        <div class="jumbotron">
            <div class="h2">You have voted on all ideas!</div>
            <br>
            <p>Do you want to create a new idea instead?
            </p>
            <a class="btn btn-success" href="{{ url_for('create_idea') }}">Create new idea</a>
        </div>
    {% endif %}

{% endblock %}
