{% extends "base.html" %}

{% block app_content %}
    <script>
        function deleteIdeaConfirmation() {
            return (confirm('Are you sure you want to delete this idea?'));
        }
        function deleteProfileConfirmation() {
            return (confirm('Are you sure you want to delete your profile?' +
                '\nWARNING: this will delete all your votes and all your ideas'));
        }
    </script>
    <h1>
        <!-- {{ current_user.username }}'s Profile -->
        Profile
    </h1>
    <div>
        <p>
            <b>Username: </b>{{ current_user.username}}
            <br>
            <b>Name: </b>{{ current_user.name }}
            <br>
            <b>Surname: </b>{{ current_user.surname }}
            <br>
            <b>Email: </b>{{ current_user.email }}
            <br>
        </p>
        <form action="/editProfile">
            <input type="submit" value="Edit Profile"/>
        </form>
        <form action="/deleteProfile" onsubmit='return deleteProfileConfirmation()'>
                    <input type="submit" value="Delete Profile" />
                </form>
        <br>
    </div>
    <hr>
    <h1>
        Ideas
    </h1>
    {% for idea in ideas %}
        <div>
            <p>
                <b>Title: </b>{{ idea.title }}
                <br>
                <b>Description: </b>{{ idea.description }}
                <br>
                <b>Categories: </b>{{ idea.categories }}
                <br>
                <b>Created: </b>{{ idea.created }}
                <br>
                <b>Last Modified: </b>{{ idea.modified }}
                <br>
                <b>Votes: </b>{{ idea.votes_count }}
                <br>
                <b>Score: </b>{{ idea.score }}
                <br>
                <b>Upvotes: </b>{{ idea.upvotes }}
                <br>
                <b>Downvotes: </b>{{ idea.downvotes }}
                <br>
            </p>
                <form action="/editIdea/{{ idea.id }}">
                    <input type="submit" value="Edit Idea" />
                </form>
                <form action="/deleteIdea/{{ idea.id }}" onsubmit='return deleteIdeaConfirmation()'>
                    <input type="submit" value="Delete Idea" />
                </form>
                <br>
        </div>
    {% endfor %}

{% endblock %}
