{% extends "base.html" %}

{% block content %}
    <div>
        {% if idea is not none %}
        <b>Title: </b>{{ idea.title }}
        <br>
        <b>Description: </b>{{ idea.description }}
        <br>
        <b>Categories: </b>{{ idea.categories }}
        <br>
        <b>Created: </b>{{ idea.created }}
        <br>
        <b>Last Modified: </b>{{ idea.modified }}
        <br>
        <b>Score: </b>{{ idea.score }}
        <br>
        <form action="{{ url_for('voting') }}" method="post">
            <input type="hidden" name="owner" value="{{ current_user.id }}">
            <input type="hidden" name="target" value="{{ idea.id }}">
            <input type="hidden" name="value" value="-1">
            <input type="submit" value="vote -1"/>
        </form>
        <form action="{{ url_for('voting') }}" method="post">
            <input type="hidden" name="owner" value="{{ current_user.id }}">
            <input type="hidden" name="target" value="{{ idea.id }}">
            <input type="hidden" name="value" value="1">
            <input type="submit" value="vote +1"/>
        </form>
        <form action="{{ url_for('voting') }}" method="get">
            <input type="submit" value="Skip"/>
        </form>
        {% else %}
        <b>No Ideas to vote on.</b>
        <br>
        <a href="{{ url_for('newIdea') }}">Create a new idea instead</a>
        {% endif %}
    </div>

{% endblock %}
